*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    margin: 10px;
}

ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.container_parent{
    background-color: #F0F0F0;
}
.container_card_text{
    width: 1184px;
    height: 572px;
    border: 1px solid red;
}
.card_evaluation_perfomance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 43px;
    padding-top: 43px;
    width: 697px;
    height: 134px;
}
.container_card_titre{
    width: 664px;
    height: 429px;
    border: red solid 1px;
}
.evaluation_element{
    border: red 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    height: 99px;
}
.container_child_card{
    display: flex;
}