*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    margin-right: 325px;
    margin-left: 325px;
    padding: 10px;
}
.logo_class_parent{
    display: flex;
    align-items: center;
}
.logo{
    color: white;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    padding: 10px;
    background-color: #8910F3;
    margin-right: 10px;
}
.btn-submit-cnt{
    background-color: #8910F3;
    border-radius: 2px;
    color: white;
    padding: 5px 20px;
    cursor: pointer;
}

li{
    margin: 10px;
}

ul{
    display: flex;
    list-style: none;
    
}
h1{ font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
}

h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
}
.container_card_titre p{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
}
.btn-submit{
    background-color: #8910F3;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.container_parent_first{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #F0F0F0;
}
.container_card_text{
    width: 700px;
    height: 572px;
    margin-right: 50px;
}
.card_evaluation_perfomance{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: white;
    padding-left: 61px;
    padding-right: 61px;
    padding-bottom: 43px;
    padding-top: 43px;
    width: 697px;
    height: 134px;
}
.card_evaluation_perfomance h2{
    font-size: 40px;
    font-family: "Inter", sans-serif;
}
.card_evaluation_perfomance p{
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: bold;
}
.container_card_titre{
    margin-top: 50px;
    width: 664px;
    height: 360px;

}
.evaluation_element{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    height: 99px;
}
.container_child_card_1{
    display: flex;
}
.container_profil_image img{
    border-radius: 25px;
    width: 413px;;
}
.container_parent_second{
    display: flex;
    justify-content: center;
    background-color: #F0F0F0;
}

.container_profil_image2 img{
    border-radius: 25px;
    width: 300px;
}
.container_child_card_2{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    height: 572px;
    width: 1184px;
    border-radius: 15px;
}
.container_card_profil{
    display: flex;
}
.container_card2_titre{
    
    width: 606px;
    height: 265px;
    position: relative;
    left: 20px;
    top: 70px
}

.container_card2_titre p{
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}

.container_btn_profil{

    margin-top: 20px;
}

.btn-submid_profil_card2{
    background-color: #8910F3;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    font-family: "Inter" sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.btn-submit_downl_card2{
    border: #8910F3 solid 2px;
    background-color: white;
    border-radius: 5px;
    color: #8910F3;
    padding: 10px 20px;
    text-align: center;
    font-size: 16px;
    font-family: "Inter" sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.container_parent_third{
   display: flex;
   justify-content: center;
   text-align: center;
}
.container_porfolio_titre{
    width: 574px;
}

.container_parent_portfolio{
    
}

.container_portfolio{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        max-width: 900px;
        padding: 20px;
}

.container_portfolio img {
    width: 30%; /* 3 images par ligne */
    height: auto;
    aspect-ratio: 1/1; /* Pour des images carrées */
    object-fit: cover; /* Recadre l’image sans la déformer */
    transition: transform 0.3s ease-in-out;
}